html, body {
	line-height: 2;
	margin: 0;
	padding: 0;
	background: #fafafa;
}

html, body, input, textarea, select {
	font-family: 'Arial, Helvetica', sans-serif;
	color: #444;
	font-size: 16px;
}

h1,
h2,
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
        text-align: center;
}

h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 12px;
}

p {
	margin: 0 0 10px;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #2a6496;
	text-decoration: underline;
}

.container {
	width: 90%;
	max-width: 1060px;
	margin: 0 auto 0;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
	content: " ";
	display: table;
}

.clearfix:after,
.container:after {
	clear: both;
}

header {
	padding-bottom: 60px;
}

nav li {
	font-size: 1em;
	margin: 0;
}

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav a {
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 5px;
  color: #cccccc;
  background-color: rgba(255,255,255,0.3);
  font-weight: 400;
}

nav a:hover {
  color: #333333;
  text-decoration: none;
  background-color: rgba(255,255,255,0.8);
}

.hero {
  background: #ef6713 no-repeat bottom center fixed;
  background-color: #3f3f3f;
  background-image: url("/static/img/izaak-berkeley-hurst-NQw_wJyAdac-unsplash.jpg");
  color: #f2f2f2;
  text-align: center;
  padding: 0 0 40px 0;
}

.hero h1, .hero h2 {
  display: block;
  line-height: 1.2;
  margin: 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.44);
}

.subheader {
  text-align: left;
  max-width: 1280px;
}

.frontpage {
  text-align: center;
}

footer {
  background: #333333;
}

footer p {
  text-align: center;
  margin: 0;
  color: #888;
}

section, footer {
  padding: 45px 0;
}

textarea {
  min-height: 170px;
}

@media only screen and (min-width: 725px) {

	header h1 a {
		padding: 2px 0;
		background: none;
	}

	header {
		padding-top: 70px;
		width: 90%;
		max-width: 1060px;
		margin: 0 auto 0;
	}

	header h1 {
		float: left;
	}

	nav {
		text-align: center;
		float: right;
		border: 0;
	}

	nav li {
		width: 100px;
		margin: 0 5px;
		display: inline-block;
	}

	nav a {
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
			    border-radius: 2px;
	}
}

.meta {
  font-size: 16px;
  font-style: italic;
}

pre {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-word;
}

blockquote {
  font-style: italic;
  border: 1px solid #ccc;
  box-sizing:border-box;
  padding: 10px;
}
